/** This class will hide all the body by default **/
#accordion .acc-body{
    display : none;
    padding : 10px;
 }
 /** This class will show the body if it has "active" parent class. "active" class will be added to panel div **/
 #accordion .active .acc-body {
    display : block;
 }
 #accordion .panel{
    border : solid 1px rgb(48, 16, 233);
    background-color: rgb(176, 208, 245);
    margin:5px;
    padding : 5px;
    border-radius : 2px;
  }

  #wrapper {

   width:940px;
     margin: 20px auto;
 }

 .center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
 }

 p {
    text-align:center;
   font-size: 2.5em;
}

  h5 {
     text-align: center;
  }

  .button {
      text-align: center;
      margin-top: 10px;
  }


  footer li {
     float: left;
     list-style-type:none;
     margin-right: 30px;
     
  }

  footer {
   border-top:1px navy dotted;
   height:50px;
   clear:both;
   line-height: 50px;
   margin-top: 20px;
}